body {
    background-color: #5DADE2;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
  }
  
  .contenedor {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    margin-top: -20rem; 
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  button {
    background-color: #48C9B0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ABC9C;
  }
  